body {
  margin: 0 10px 0 0;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1rem;
  color: #000000;
  text-align: center;
  background-color: #fafafa;
}

h1 {
  /*font-family: 'Roboto Slab', 'serif';*/
  font-family: 'Martel', serif;
  font-size: 1.8rem;
}

h2 {
  /*font-family: 'Roboto Slab', 'serif';*/
  font-family: 'Martel', serif;
  font-size: 1.5rem;
}

/* SEARCH BAR/NAV BAR */

.navbar {
  display: inline-block;
  margin: auto 0;
  width: 100%;
}

#searchBar {
  margin: 0 auto;
  width: 30%;
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
}

.help-icon {
  background-color: #eeeeee;
  width: 20px; 
  padding: 2px 0px;
  border: 1px solid #a1a1a1;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.resultstitle {
  font-family: 'Martel', 'serif';
  font-size: 1.2rem;
}

.navlink {
  display: inline-block;
  margin-right: 10px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.home-icon {
  margin: 0 auto;
  width: 20px;
}

/* SEARCH RESULTS */

.searchresults {
  margin: 100px 0 50px 55px;
  float: left;
  width: 66%;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  background-color: #fdfdfd;
  padding: 25px;
}

.results {
  margin: 0 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.5fr 2fr .8fr;
  grid-template-areas: 
      'label label label'
      'painting painting painting';
}

.results > h3 {
  margin: 10px 0;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  font-family: 'Martel', serif;
  border: 1px solid #a1a1a1;
}

#pageLinks {
  margin: 0 auto;
}

#paintingList {
  margin: 0 0 10px;
  display: grid;
  grid-area: painting;
  grid-template-columns: 100%;
  grid-gap: 10px;
  padding: 0;
}

.painting {
  list-style-type: none;
  border: 1px solid #a1a1a1;
  display: grid;
  grid-template-columns: 1.5fr 2fr .8fr;
  grid-template-areas: 
      'info palette checkbox';
}

.paintingimg {
  float: left;
  margin-left: 10px;
  max-width: 85px;
  max-height: 90px;
  cursor: pointer;
}

.painting > p {
  grid-area: info;
  margin: auto 0;
}

.info {
  margin: auto 0;
  grid-area: info;
  display: inline;
  margin-left: 110px;
  text-align: left;
}

.painting > .palette {
  margin: auto auto;
  grid-area: palette;
}

.box {
  float: left;
  margin: 20px 5px;
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

/* Tooltip text */
.box .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.box:hover .tooltiptext {
  visibility: visible;
}

.painting > .checkbox {
  margin: auto auto;
  grid-area: checkbox;
}

/* COMPARE PANEL */

.compareresults {
  margin: 100px 35px 0 0;
  float: right;
  width: 20%;
  background-color: #fdfdfd;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Martel', serif;
}

.scrollcover {
  max-height: 400px;
  overflow-y: scroll;
}

#compareList {
  margin: 0 10px 10px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  padding: 0;
}

.compares {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
  border: 1px solid #a1a1a1;
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-areas: 
      'info checkbox';
}

.compares > p {
  grid-area: info;
  margin: auto 0;
}

.paintingimg3 {
  float: left;
  margin-left: 10px;
  max-width: 70px;
  max-height: 70px;
}

.compares > .info {
  margin: auto 0;
  grid-area: info;
  display: inline;
  margin-left: 90px;
  text-align: left;
  font-size: 0.8rem;
}

.compares > .checkbox {
  margin: auto auto;
  grid-area: checkbox;
}

.comparebutton {
  background-color: #eeeeee;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 1px solid #a1a1a1;
}

#searchbutton {
  margin: 0px auto;
  font-size: 1rem;
}

/* RADAR CHART */

.legend {
  font-family: 'Roboto', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
  color: #fff;
}

.radarchart {
  margin-top: 20px;
  display: inline-block;
}

/* if no fixed pos: remove this */
.radarchart > h2 {
  position: fixed;
  margin-left: -80px;
}

.radarChart {
  display: inline-block;
  /* if no fixed pos: remove this */
  position: fixed;
  margin-top: 70px;
  margin-left: -250px;
}

.paintingsidebar {
  margin: 50px 100px 0 0;
  float: right;
  width: 32%;
  font-family: 'Martel', serif;
}

#selectedList {
  margin: auto 0;
  padding: 10px;
  list-style-type: none;
}

.selectedPainting {
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  border: 1px solid #a1a1a1;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
      'image info'
      'image palette';
}

.selectedPainting > p {
  grid-area: image;
  padding: 0;
  margin: auto 0;
  width: 100px;
}

.selectedPainting > .info {
  margin: auto 0;
  grid-area: info;
  display: inline;
  text-align: left;
  font-size: 0.8rem;
  margin-left: 13px;
}

.selectedPainting > .palette {
  margin: auto 0;
  grid-area: palette;
  margin-left: 10px;
}

.selectedtitle {
  margin: 50px 0 0;
  line-height: 0;
}

.paintingimg2 {
  float: left;
  max-width: 100px;
  max-height: 100px;
}

.selectedImagePreview {
  max-height: 300px;
  max-width: 400px;
  cursor: pointer;
}

.smallbox {
  width: 40px;
  height: 40px;
  float: left;
  margin: 2px 4px 0;
  border-radius: 5px;
}

/* Tooltip text */
.smallbox .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.smallbox:hover .tooltiptext {
  visibility: visible;
}

.paintingSearchTechniqueText {
  color: #7a7a7a;
  text-shadow: #000;
  font-family: 'Roboto', sans-serif;
}

.paintingSearchMainText {
  color: #000000;
  font-family: 'Martel', 'serif';
  font-size: 0.9rem;
}

.mainLogoText {
  margin-top: 40px;
  font-family: 'Martel', serif;
}